.navbar #main-menu{
    padding: 0;
    float: right;

    & > li{
        a{
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    .dropdown-menu{
        background-color: $navbarbgcolor;
        left: auto;
        padding: 0 10px;
        border-color: rgba(255, 255, 255, 0.15);
        border-radius: 0;

        li{
            &:last-of-type{
                a{
                    border-bottom: none;
                }
            } 

            .nav-link{
                text-align: right;
                border-bottom: 1px solid #392f28;
            }
        }
    }
}

.main-menu-toggle-only{
    border-bottom: 1px solid #392f28;
}

// toggle menu caret
.dropdown-toggle:before{
    display: inline-block;
    margin-top: 0.4rem;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

.dropdown-toggle:after{
    display: none;
}

#exCollapsingNavbar{
    text-align: right;
    float: right;
}

nav.site-navigation{
    > div{ // first container
        padding: 0;
    }
}

.navbar-toggler{
    float: right;
}

// Dark links against a white background
.navbar-costume{
    background-color: $navbarbgcolor;

    .navbar-toggle { border: 1px solid #fff; }
    .icon-bar { border-bottom: 1px solid #fff; }
    .dropdown-menu { background-color: $gray-dark; }

    .navbar-brand,
    .navbar-brand-fullbar,
    .navbar-toggler {
        color: $navbar-dark-active-color;

        @include hover-focus {
            color: $navbar-dark-active-color;
        }
    }

    .navbar-nav {
        .nav-link {
            color: $navbar-dark-color;
            margin: 0;
            padding: 5px;

            @include hover-focus {
                color: $navbar-dark-hover-color;
            }
        }

        .open > .nav-link,
        .active > .nav-link,
        .nav-link.open,
        .nav-link.active {
            @include plain-hover-focus {
                color: $navbar-dark-active-color;
            }
        }
    }

    .navbar-toggler {
        background-image: $navbar-dark-toggler-bg;
        border-color: $navbar-dark-toggler-border;
    }

    .navbar-divider {
        background-color: rgba(255,255,255,.075);
    }
}

/*
// Costumeized Search-Box
*/

#search-container{
    @include clearfix;
    padding: 1em;
    background: #4d4d4d;
    background: hsl(0, 0%, 30%);
    z-index: 2;
    width: 100%;
    display: none;

    label{
        display: none;
    }

    .search-field{
        max-width: 362px;
        float: right;
        padding: 1rem 2rem 1rem 4rem;
        font-size: 20px;
        font-size: 2rem;
        background-color: #fff;
        border: none;
    }
}

.search-toggle{
    float: right;
    width: 54px;
    height: auto;
    padding: 8px 0;
    color: #fff;
    text-align: center;
    cursor: pointer;         

    &::hover{
        background: #4d4d4d;
        background: hsl(0, 0%, 30%);
    }

    @include media-breakpoint-only(xs){
        margin-right: 10px;
    }
}

.search-toggle.active{
    @include border-radius(3px);
    background: #4d4d4d;
    background: hsl(0, 0%, 30%);
}

// Hide the search button everywhere on the site
#searchsubmit{ 
    display: none;
}

.navbar-brand-fullbar{
    float: left;
    padding-top: $navbar-brand-padding-y;
    padding-bottom: $navbar-brand-padding-y;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: $font-size-lg;
    line-height: inherit;

    @include hover-focus {
        text-decoration: none;
    }
}

@include media-breakpoint-only(xs){
    .navbar-brand-fullbar{
        display: none;
    }
}

@include media-breakpoint-up(sm){
    .navbar-costume{
        padding-left: 0;
        padding-right: 0;

        .container{
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }

    .navbar-brand{
        display: none;
    }

    .navbar-header{
        float: right;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    #main-menu{
        .menu-item{
                float: right;
            }
    }

    .search-toggle{
        margin-left: 10px;
        margin-right: 10px;
    }

    #exCollapsingNavbar{
        line-height: 40px;
    }

    #main-menu{
        vertical-align: middle;

        li{
            a{
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}