.entry-header{
}

.entry-meta{
    display: inline-block;
    margin-bottom: 15px;
    padding-right: 15px;
}
.post-avatar{
    display: block;
    float: right;
    img{
        width: 50px;
    }
}

.posted-on, .byline{
    display: block;
    margin-right: 60px;
    height: 25px;
}

.entry-title{
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
}

.meta-devider{
    border-bottom: 1px solid #dfdfdf;
}