.post{
    background-color: #fff;
    border: 1px solid $widgetbordercolor;
    border-bottom: none;

    img.wp-post-image{
        margin-bottom: 20px;
    }
}

#main .post{
    margin-bottom: 30px;

    &:last-of-type{
        margin-bottom: 0;
        #post-bottom-seperator{
            margin-bottom: 0;
        }
    }
}

.fa-bookmark{
    position: absolute;
    left: 50px;
    top: -4px;
}