.entry-footer{
    border-top: 1px solid $widgetbordercolor;
    padding-top: 10px;
    
    span{
        margin: 5px 0;

        // &:first-of-type{
        //     margin-top: 10px;
        // }

        // &:last-of-type{
        //     margin-bottom: 10px;
        // }
    }
}

.cat-links{
    display: block;
    font-size: 0.9rem;
}

.tags-links{
    display: block;
    font-size: 0.9rem;

    a{
        &::before{
        content: "\f02b";
        padding-bottom: 2px;
        margin-right: 3px;
        font-family: 'fontawesome';
        font-size: 1rem;
        }
    }
}

.comments-link{
    display: block;
    font-size: 0.9rem;

    a{
        &::before{
        content: "\f086";
        padding-bottom: 2px;
        margin-right: 3px;
        font-family: 'fontawesome';
        font-size: 1rem;
        }
    }
}

.edit-link{
    display: block;
    font-size: 0.9rem;
}

#post-bottom-seperator{
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}