/*
// Apply this styles only in single-post
*/

#single-wrapper{
    .post-navigation{
        margin: 20px 0;
        background-color: #fff;
        border: 1px solid $widgetbordercolor;
        vertical-align: middle;
        @include clearfix;
        padding-left: 15px;
        padding-right: 15px;
    }
}