.entry-meta{
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.post-avatar{
    display: block;
    float: right;
    img{
        //@include border-radius(50%);
        width: 40px;
    }
}

.posted-on, .byline{
    display: block;
    margin-right: 50px;
    max-height: 20px;
}

.entry-title{
    font-weight: bold;
    font-size: 1.8rem;
}