.widget{
    margin: 0 0 20px 0;
    background: #fff;
    border: 1px solid $widgetbordercolor;

    ul{
        list-style-type: none;
        padding: 0 10px 10px 10px;
        margin: 0;
        @include clearfix;

        li{
            display: block;
            clear: right;
            padding: 3px 0;

            a{
                /* These are technically the same, but use both */
                overflow-wrap: break-word;
                word-wrap: break-word;
            }
            &::before{
                display: block;
                float: right;
                padding-bottom: 2px;
                margin-left: 3px;
                font-family: 'fontawesome';
                font-size: 1rem;
            }
        }
    }
}

.widget_recent_entries{
    ul{
        li{
            &::before{
                content: "\f036";
            }
        }
    }
}

.widget_recent_comments{
    ul{
        li{
            &::before{
                content: "\f075";
                margin-top: -2.5px;
            }
        }
    }
}

.widget_archive{
    ul{
        li{
            &::before{
                content: "\f187";
            }
        }
    }
}

.widget-title{
    color: #fff;
    padding: 10px;
    font-size: 1.1rem;
    margin-bottom: 10px;
    background-color: $blueish;
}